<div class="container">
  <h1>Account Registration</h1>

  <div id="success_container" class="col-md-6">
    <p>
      <span class="alert-success"><strong>Account created successfully</strong></span>
    </p>
    <button class="btn btn-default" id="create_new_account">Create another account</button>
  </div>

</div>
