<div class="container">
  <h1>Account Registration</h1>

  <form class="form-horizontal" id="registration_form" method="post" action="/api/accounts">
    <div class="form-group username">
      <lable class="col-sm-2 control-label" for="username">Username</lable>
      <div class="col-sm-4">
        <input class="form-control" id="username" name="username" type="text"
               placeholder="Enter username (min 4 chars)"/>
        <span id="username_msg"></span>
      </div>
    </div>
    <div class="form-group">
      <lable class="col-sm-2 control-label" for="password">Password</lable>
      <div class="col-sm-4">
        <input class="form-control" id="password" name="password" type="password"
               placeholder="Enter password (min 6 chars)"/>
        <span id="password_msg"></span>
      </div>
    </div>
    <div class="form-group">
      <lable class="col-sm-2 control-label" for="username">Email Address</lable>
      <div class="col-sm-4">
        <input class="form-control" id="email" name="email" type="email"
               placeholder="Enter valid email address"/>
        <span id="email_msg"></span>
      </div>
    </div>
    <div class="form-group">
      <lable class="col-sm-2 control-label" for="username">Zip</lable>
      <div class="col-sm-4">
        <input class="form-control" id="zip" name="zip" type="number"
               placeholder="Enter zip code (5 digit number)"/>
        <span id="zip_msg"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <button class="btn btn-success" id="create_account">Create Account</button>
      </div>
    </div>
  </form>
  <div id="success_container" class="col-md-6 hide">
    <p>
      <span class="alert-success"><strong>Account created successfully</strong></span>
    </p>
    <button class="btn btn-default" id="create_new_account">Create another account</button>
  </div>
</div>
