.success_icon {
    background-image: url('/images/image00.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
}

.failure_icon {
    background-image: url('/images/image01.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
}
